
.search-container {
  display: inline-flex;
  position: relative;
  z-index: 2;
  height: 48px;
  box-sizing: border-box;
}

.search-container-left,
.search-container-right {
  width: 24px;
  height: 48px;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

.search-container-left {
  border-bottom-left-radius: 48px;
  border-top-left-radius: 48px;
  border-right: 0 !important;
}

.search-container-right {
  border-left: 0 !important;
  border-radius: 0;
  border-bottom-right-radius: 48px;
  border-top-right-radius: 48px;
}

.search-container-right:after {
  content: "";
  display: inline-block;
  position: relative;
  top: 32px;
  left: 12px;
  border-width: 0 !important;
  width: 17px;
  height: 5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: all 0.3s linear;
}

.input-field {
  width: 0;
  height: 100%;
  background: none !important;
  border-left: 0 !important;
  border-right: 0 !important;
  outline: 0;
  font: normal 18px 'Arial';
  box-sizing: border-box;
  transition: all 0.3s linear;
}

.search-clean {
  position: relative;
  width: 0;
  height: 100%;
}

.search-clean button {
  position: absolute;
  z-index: 20;
  top: calc(50% - 10px);
  left: -10px;
  border: none !important;
  outline: none;
  background: none;
  width: 0;
  height: 0;
  cursor: pointer;
}

.search-clean:before,
.search-clean:after {
  content: '';
  position: absolute;
  left: -10px;
  top: calc(50% - 2px);
  width: 0;
  height: 0;
  transition: all 0.6s ease-in-out;
}

.search-clean:after {
  left: -2px;
  top: calc(50% - 10px);
}

.active-background {
  position: absolute;
  left: 20px;
  z-index: -1;
  width: 0;
  height: 100%;
  transition: all 0.3s ease-in;
  border-radius: 26px;
}

.open .input-field {
  width: 200px;
  border-left: 0 !important;
  border-right: 0 !important;
}

.open .search-container-left {
  border-right: 0 !important;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.open .search-container-right {
  border-left: 0 !important;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.open .search-container-right:after {
  content: '';
  width: 0;
}

.open .search-clean button {
  width: 20px;
  height: 20px;
}

.open .search-clean:before,
.open .search-clean:after {
  width: 20px;
  height: 4px;
  transform: rotate(405deg);
}

.open .search-clean:after {
  width: 4px;
  height: 20px;
}

.open .active-background {
  width: 100%;
  left: 0;
  border-radius: 26px;
}

/* themes colors */
/* light theme */
.search-container-left,
.search-container-right,
.light .search-container-left,
.light .search-container-right {
  background: #000;
  border: 5px solid #117a8b;
}

.search-container-right,
.light .search-container-right {
  border: 5px solid #117a8b;
}

.search-container-right:after,
.light .search-container-right:after {
  background: #117a8b;
}

.input-field,
.light .input-field {
  border: 5px solid #117a8b;
}

.search-clean:before,
.search-clean:after,
.light .search-clean:before,
.light .search-clean:after {
  background: #117a8b;
}

.active-background,
.light .active-background {
  background: #000;
}

.open .active-background,
.light .open .active-background {
  background: #fff;
}

.open .input-field,
.light .open .input-field {
  background: none;
  border: 5px solid #1e7e34;
}

.open .search-container-right,
.open .search-container-left,
.light .open .search-container-right,
.light .open .search-container-left {
  border: 5px solid #1e7e34;
  background: none;
}

.open .search-container-right,
.light .open .search-container-right {
  border: 5px solid #1e7e34;
}

.open .search-clean:before,
.open .search-clean:after,
.open .light .search-clean:before,
.open .light .search-clean:after {
  background: #1e7e34;
}

/* dark theme */
.search-container-left .dark,
.search-container-right .dark {
  background: #fff;
  border: 5px solid #999;
}

.search-container-right .dark {
  border: 5px solid #999;
}

.search-container-right:after .dark {
  background: #999;
}

.input-field .dark {
  border: 5px solid #999;
}

.search-clean:before .dark,
.search-clean:after .dark {
  background: #090;
}

.open .input-field .dark {
  border: 5px solid #090;
}

.open .search-container-right .dark,
.open .search-container-left .dark {
  border: 5px solid #090;
}

.open .search-container-right .dark {
  border: 5px solid #090;
}
